<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--<configSections>
    <section name ="= appSettings" type="Ssytem.Configuration.DictionarySectionHandler"/>
  </configSections>-->
  <appSettings>
    <add key="secretkey" value="Encrypt" />

    <add key="A " value="the" /> 
    <add key="B " value="like" />
    <add key="C " value="be" />
    <add key="D " value="to" />
    <add key="E " value="of" />
    <add key="F " value="and" />
    <add key="G " value="are" />
    <add key="H " value="in" />
    <add key="I " value="that" />
    <add key="J " value="have" />
    <add key="K " value="it" />
    <add key="L " value="for" />
    <add key="M " value="not" />
    <add key="N " value="on" />
    <add key="O " value="with" />
    <add key="P " value="he" />
    <add key="Q " value="as" />
    <add key="R " value="you" />
    <add key="S " value="do" />
    <add key="T " value="at" />
    <add key="U " value="this" />
    <add key="V " value="but" />
    <add key="W " value="his" />
    <add key="X " value="by" />
    <add key="Y " value="from" />
    <add key="Z " value="they" />
    <add key="a" value="we" />
    <add key="b" value="say" />
    <add key="c" value="her" />
    <add key="d" value="she" />
    <add key="e" value="or" />
    <add key="f" value="an" />
    <add key="g" value="will" />
    <add key="h" value="my" />
    <add key="i" value="one" />
    <add key="j" value="all" />
    <add key="k" value="would" />
    <add key="l" value="there" />
    <add key="m" value="their" />
    <add key="n" value="what" />
    <add key="o" value="so" />
    <add key="p" value="up" />
    <add key="q" value="out" />
    <add key="r" value="if" />
    <add key="s" value="about" />
    <add key="t" value="who" />
    <add key="u" value="get" />
    <add key="v" value="which" />
    <add key="w" value="go" />
    <add key="x" value="me" />
    <add key="y" value="when" />
    <add key="z" value="make" />

    <add value="A" key="the" />
    <add value="B" key="like" />
    <add value="C" key="be" />
    <add value="D" key="to" />
    <add value="E" key="of" />
    <add value="F" key="and" />
    <add value="G" key="are" />
    <add value="H" key="in" />
    <add value="I" key="that" />
    <add value="J" key="have" />
    <add value="K" key="it" />
    <add value="L" key="for" />
    <add value="M" key="not" />
    <add value="N" key="on" />
    <add value="O" key="with" />
    <add value="P" key="he" />
    <add value="Q" key="as" />
    <add value="R" key="you" />
    <add value="S" key="do" />
    <add value="T" key="at" />
    <add value="U" key="this" />
    <add value="V" key="but" />
    <add value="W" key="his" />
    <add value="X" key="by" />
    <add value="Y" key="from" />
    <add value="Z" key="they" />
    <add value="a" key="we" />
    <add value="b" key="say" />
    <add value="c" key="her" />
    <add value="d" key="she" />
    <add value="e" key="or" />
    <add value="f" key="an" />
    <add value="g" key="will" />
    <add value="h" key="my" />
    <add value="i" key="one" />
    <add value="j" key="all" />
    <add value="k" key="would" />
    <add value="l" key="there" />
    <add value="m" key="their" />
    <add value="n" key="what" />
    <add value="o" key="so" />
    <add value="p" key="up" />
    <add value="q" key="out" />
    <add value="r" key="if" />
    <add value="s" key="about" />
    <add value="t" key="who" />
    <add value="u" key="get" />
    <add value="v" key="which" />
    <add value="w" key="go" />
    <add value="x" key="me" />
    <add value="y" key="when" />
    <add value="z" key="make" />

  </appSettings>
</configuration>